.page_body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}
a[class="menu_link"] {
  text-decoration: none;
  color: #ff0000;
}
.navigation_menu {
  text-align: center;
  vertical-align: middle;
  padding-inline-start: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
}
.menu_item {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0;
  align-items: center;
  margin-top: 26px;
  margin-right: 70px;
  margin-bottom: 26px;
}
menu_item + .menu_item {
  margin-left: 72px;
}
.image {
  width: 100%;
  margin-bottom: 29px;
}
.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 3.3px;
  color: #373737;
  margin-block-start: 0;
  scroll-margin-block-end: 0;
  margin-left: 68px;
  margin-right: 68px;
}
.content {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin-block-start: 0;
  scroll-margin-block-end: 0;
  margin-left: 68px;
  margin-right: 68px;
}
.text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 28px;
}
.text1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 66px;
}
.button {
  text-align: center;
}
.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff0000;
  border-width: 0px;
  padding: 18px 42px;
  border-radius: 4px;
}
.copyright {
  text-align: right;
}
.copyright_text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 2.4px;
  color: #373737;
  display: inline-block;
}
