* {
  margin: 0;
  padding: 0;
}
body {
  margin-left: 98px;
  margin-right: 98px;
  margin: 0 auto;
  width: 1280px;

  font-family: sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  margin-bottom: 30px;
}
.main-text {
  width: 885px;
}
.image-container {
  border: 1px solid black;
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-menu {
  margin-top: 38px;
}
.top-menu-list li:hover {
  background-color: #222f3a;
}
.top-menu-list {
  display: flex;
  justify-content: center;
  background-color: #35444f;
}
.top-menu-list li {
  padding-top: 29px;
  padding-bottom: 19px;
  color: white;
  border-left: 1px solid white;

  padding-left: 32px;
  padding-right: 32px;
}
.top-menu-list li:last-child {
  border-right: 1px solid white;
}
.logo {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  margin-top: 63px;
}
.accent-color {
  color: #4bcaff;
}
.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
}
main {
  padding-bottom: 50px;
}
.menu-item {
  color: #485863;
  font-size: 27px;
  line-height: 27px;
  list-style: none;
  padding-top: 27px;
  padding-bottom: 30px;
  padding-left: 38px;
  padding-right: 78px;
}
.menu-item:hover {
  background-color: #dbdbdb;
  padding-left: 52px;
  padding-right: 78px;
  padding-top: 27px;
  padding-bottom: 30px;
  color: #000000;
}
.menu {
  border: 1px solid #000000;
  width: 344px;

  font-style: normal;
  font-weight: normal;
  display: block;

  text-align: left;
}
.footer-menu {
  text-align: center;
  vertical-align: middle;
  background-color: #63696e;
  font-size: 28px;
  line-height: 28px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.footer-menu ul {
  width: 875px;
  display: flex;
  justify-content: space-between;
}
.footer-menu-item {
  display: inline-block;
  font-size: 18px;
  padding: 20px 0;
  align-items: center;
  font-size: 28px;
  line-height: 28px;
}
.footer-menu-item:hover {
  color: #4bcaff;
}
.footer-copyright {
  padding: 20px 0;
}
.text {
  margin-top: 35px;
}
footer {
  padding-bottom: 30px;
}
